:host {
  display: block;
  height: 100%;
}

.task-list-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.task-list-page__board {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(280px, 1fr);
  flex: 1;
  width: 100%;
  gap: 16px;
  align-items: flex-start;
  overflow-x: auto;
  max-height:600px;
  overflow-x: scroll;
}

